#AcceuilForm h1.Acceuil{
	font-style: oblique;
	text-align: center;
	margin: 15% auto;
	background: linear-gradient(to right, yellow, pink);
}

body {
	background-color: #C4D7ED;
	font-family: sans-serif;
}

.Sign{
	margin: 10px;
	padding: 1.5%;
	background: yellow;
	border: 0;
	border-radius: 10px;
}

#Footer{
	position: relative;
	background-color: #ABC8E2;
	margin-top: 410px;
}

/* NavBar */
#NavBar{
	background-color: #ABC8E2;
	border-radius: 30px;
	margin-top: -20px;
	padding-bottom: 0.1px;
	margin-left: -5px;
	margin-right: -5px;
}

#NavBar .Logo{
	position: absolute;
	padding-top: 7px;
}

#NavBar .Logo img{
	border-radius: 40px;	
}

#NavBar .Titre{
	font-style: oblique;
	text-align: center;
	color: yellow;
	text-decoration: none;
}

#NavBar .Titre h1{
	padding-top: 25px; 
}

#NavBar .Titre:hover{
	color: pink;
}

#NavBar .Menu{
	text-align: right;
	margin-top: -30px;
}

#NavBar .Menu ul li{
	list-style-type: none;
}

#NavBar .Menu ul li a{
	text-decoration: none;
	color: yellow;
	margin: 15px 15px;
	padding: 15px;
}

#NavBar .MenuCRS{
	display: none;
}

#NavBar .Menu ul li a:hover{
	color: pink;
}

#NavBar .Menu ul li:hover .MenuCRS{
	display: block;
	margin-bottom: 10px;
	border-style: double;
	border-color: #A1BEDC;
}

#NavBar .Menu ul li:hover .MenuCRS li{
	margin-right: 20px;
	padding: 10px;
}

#NavBar .Menu ul li:hover .MenuCRS li a{
	margin-left: -20px;
}

#NavBar .CRS a:hover{
	color: pink;
}

#NavBar button{
	margin-right: 10px;
	font-size: 15px;
	width: 110px;
	height: 35px;
	background: none;
	border: none;
	color: yellow;
	cursor: pointer;
}

#NavBar button:hover{
	color: pink;
}

/* Login */
.LoginForm .Form_box{
	width: 380px;
	height: 480px;
	position: relative;
	margin: 3% auto;
	background: white;
	padding: 5px;
	overflow: hidden;
	border-radius: 30px;
}

.LoginForm h4{
	text-align: center;
	padding-top: 50px;
	color: #375D81;

}

.LoginForm div.Checkbox{
	color: #777;
	font-size: 12px;
	margin-left: 30px;
	display: inline-flex;
}

.LoginForm div.Checkbox span{
	position: relative;
	margin-left: -40px;
	padding-right: 100px;
	margin-top: 20px;
}

.LoginForm form button a{
	text-decoration: none;
	color: #375D81;
}

.LoginForm div.Input_login{
	margin-top: -30px;
	margin-left: 12px;
}

.LoginForm .Input-Field{
	margin-top: 40px;
	position: relative;
}

.LoginForm .Submit{
	width: 70%;
	display: block;
	margin: auto;
	background: linear-gradient(to right, #ABC8E2, #E1E6FA);
	border: 0;
	border-radius: 30px;
}

.LoginForm .Subtmit a{
	color : white;
	text-decoration: none;
}

.LoginForm .Submit:hover a{
	color : white;
	transition: 0.3s all;
}

.LoginForm .Checkbox{
	margin: 30px 10px 30px 0;
}

/* Register */
#Create{
	width: 380px;
	height: 480px;
	position: relative;
	margin: 3% auto;
	background: white;
	padding: 5px;
	overflow: hidden;
	border-radius: 30px;
}

#Create h4{
	text-align: center;
	padding-top: 20px;
	color: #375D81;
}


#Create h5{
	text-align: center;
	color: #375D81;
}

form input{
	width: 80%;
	padding: 10px 20px;
	margin: 5px 5px;
	margin-bottom: 15px;
	border: 0;
	border-bottom: 1px solid #ABC8E2;
}

.btn_box{
	width: 100%;
	margin: 30px auto;
	text-align: center;
}

form button{
	width: 110px;
	height: 35px;
	margin: 0 10px;
	background: linear-gradient(to right, #ABC8E2, #E1E6FA);
	border-radius: 30px;
	border: 0;
	outline: none;
	color: #375D81;
	cursor: pointer;
}

#Create .Gender{
	margin-top: -10px;
	display: flex;
	font-size: 12px;
	justify-content: center;
	color: grey;
}

#Create select{
	margin: 10px 5px;
	border: 0;
	border-bottom: 1px solid #ABC8E2;
	outline: none;
	background: #E1E6FA;
	color: #375D81;
}

#Progression{
	position: absolute;
	height: 100%;
	width: 120px;
	background: linear-gradient(to right, #ABC8E2, #E1E6FA);
	transition: 1s;
}

/* Contact */
#ContactForm .entete h1{
	text-align: center;
	color: #375D81;
}

div#CorpsContact div{
	display: inline-flex;
	width: 49%;
	height: 484px;
}

div#CorpsContact div.Etudiant1{
	width: 360px;
	height: 400px;
	margin: 6% auto;
	margin-left: 17%;
	background: white;
	border-radius: 30px;
	position: relative;
	overflow: hidden;
}

div#CorpsContact div.Etudiant2{
	width: 360px;
	height: 400px;
	margin-left: 15%;
	background: white;
	border-radius: 30px;
	position: relative;
	overflow: hidden;
}

#CorpsContact h4{
	text-align: center;
	margin-bottom: 40px;
	color: #375D81;
}

#CorpsContact .Input{
	left: 10px;
	top: 10px;
	position: relative;
	width: 340px;
	height: 380px;
	transition: 0.5s;
	background-color: #C4D7ED;
	border-radius: 30px;
}

/* Profil */
#ProfilForm .Profil{
	font-style: oblique;
	position: relative;
	margin: 2% auto;
	background: white;
	padding: 5px;
	border-radius: 20px;
	background: linear-gradient(to right, yellow, pink);
	text-align: center;
}

#ProfilForm .UpdateBio{
	color: #375D81;
	width: 500px;
	height: 180px;
	background-color: white;
	border-style: double;
	border-color: pink;
	margin: 2% auto;
	position: relative;
	text-align: center;
}

#ProfilForm .UpdateBio .textarea{
	border-radius: 10px;
	width: 400px;
	height: 70px;
	border-style: double;
	margin: auto;
}

#ProfilForm .UpdateBio button{
	margin: 0 10px;
	background: linear-gradient(to right, yellow, pink);
	border-radius: 30px;
	border: 0;
	outline: none;
	color: #375D81;
	cursor: pointer;
}

#ProfilForm .UpdateBio h3{
	color: black;
}

#ProfilForm .UpdateBio textarea{
	border-radius: 10px;
	width: 400px;
	height: 69px;
}

#ProfilForm .Delete button{
	margin: 0 10px;
	background: linear-gradient(to right, yellow, pink);
	border-radius: 30px;
	border: 0;
	outline: none;
	color: #375D81;
	cursor: pointer;
}

#ProfilForm .UL{
	background-color: white;
	width: 1000px;
	margin: 3% auto;
	border-style: double;
	text-align: center;
	border-radius: 30px;
	border-color: pink;
}

#ProfilForm .UL ul ul{
	width: 700px;
	height: 150px;
	list-style-type: none;
	margin: 3% auto;
	border-style: double;
	position: relative;
	border-color: pink;
	border-radius: 30px;
}

#ProfilForm .UL ul ul li .UserLogin{
	width: 60px;
	height: 30px;
	border-style: double;
}

#ProfilForm .UL ul ul li .UserDate{
	font-size: 10px;

}

#ProfilForm .UL ul ul li .footer{
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-between;
	padding: 12px 0 4px;
}

#ProfilForm .UL ul ul li .footer img{
	height: 22px;
	width: 22px;
	cursor: pointer;
	transition: 0.2s;
}

#ProfilForm .UL ul ul li .footer img:hover {
	transform: scale(1.2);
}

/* Info */
#InfoForm .Profil{
	font-style: oblique;
	position: relative;
	margin: 2% auto;
	background: white;
	padding: 5px;
	border-radius: 20px;
	background: linear-gradient(to right, yellow, pink);
	text-align: center;
}

#InfoForm .Info{
	width: 300px;
	height: 300px;
	padding: 10px;
	margin: 3% auto;
	background-color: white;
	border-radius: 20px;
}

#InfoForm .Info h3{
	font-style: oblique;
	border-radius: 20px;
	text-align: center;
	background: linear-gradient(to right, yellow, pink);
}

#InfoForm .Info h4{
	margin-left: 20px;
	margin-top: 30px;
	color: #375D81;
}

/* Home */
#HomeForm .Post{
	width: 700px;
	height: 150px;
	margin: auto;
	text-align: center;
}

#HomeForm .Post h4{
	color: #375D81;
}

#HomeForm .Post textarea{
	height: 50px; 
	width: 500px; 
}

#HomeForm .Post button{
	margin: 0px 45% auto;
	background: linear-gradient(to right, yellow, pink);
	border-radius: 30px;
	border: 0;
	outline: none;
	color: #375D81;
	cursor: pointer;
}

#HomeForm .ULHome{
	background-color: white;
	width: 1000px;
	margin: 3% auto;
	border-style: double;
	text-align: center;
	border-radius: 30px;
	border-color: pink;
}

/* Post */

.card-container{
	width: 700px;
	height: 150px;
	list-style-type: none;
	margin: 3% auto;
	border-style: double;
	position: relative;
	border-color: pink;
	border-radius: 30px;
}

.card-container div .card-footer{
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-between;
	margin: 5px;
}

.card-container div .card-footer img{
	height: 22px;
	width: 22px;
	cursor: pointer;
	transition: 0.2s;
}

.card-container div .card-footer img:hover {
	transform: scale(1.2);
}

.card-container div .button-container{
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-between;
	margin: 5px;
}

.card-container div .button-container img{
	height: 22px;
	width: 22px;
	cursor: pointer;
	transition: 0.2s;
}

.card-container div .button-container img:hover {
	transform: scale(1.2);
}

.card-container div .button-container button{
	margin: 0px 45% auto;
	background: linear-gradient(to right, yellow, pink);
	border-radius: 30px;
	border: 0;
	outline: none;
	color: #375D81;
	cursor: pointer;
}

/* Delete */
#DeleteForm .Delete{
	text-align: center;
	margin: 20% auto;
}

#DeleteForm .Delete button{
	margin: 0 30px;
	width: 100px;
	height: 30px;
	background: linear-gradient(to right, yellow, pink);
	border-radius: 30px;
	border: 0;
	outline: none;
	color: #375D81;
	cursor: pointer;
	font-size: 20px;
	border-style: double;	
	border-color: white;
}

#DeleteForm .Delete h4{
	font-size: 40px;
}